body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Simple Responsive Framework. */
.row {
    width: 100%;
}

/********** Medium devices and up **********/
@media (min-width: 992px) {
    .col-lg-3 {
        float: left;
        width: calc(23.33% - 12px);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-5 {
        float: left;
        width: calc(40% - 8px);
    }

    .col-md-11 {
        width: calc(90% - 8px);
    }
}

h1 {
    margin-bottom: 15px;
    text-align: center;
}

.menu-item {
    background-color: grey;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    border: solid black 4px;
}

.menu-name {
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    margin-bottom: 10px;
    padding: 2px 20px;
    border-top: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: black;
}

p {
    margin-top: 30px;
    padding: 10px;
}

.col-lg-3:last-child {
    float: right;
}

.chicken {
    background-color: yellowgreen;
}

.beef {
    background-color: red;
    color: white;
}

.sushi {
    background-color: aquamarine;
}

@media (max-width: 767px) {
    .col-xs {
        float: none;
        margin-right: 5%;
    }
}
